#choose {
  font-size: 20px;
}

header h1 {
  background-color: red;
  font-size: 20px;
  font-family: fantasy
  
}

section img {
  width: 30%;
  height: 300px;
  margin: 10 auto;
  border: 4px groove blue;
}

#results {
  list-style-type: disc;
  line-height: 1.5;
  margin-left: 20px;
}

.results-chart {
  border: 2px solid blue;
}